################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MAASNMD/v15

MAASNMD/bin/Debug/Hand_Mode\.txt

MAASNMD/bin/Debug/MAASNMD\.exe

MAASNMD/bin/Debug/MAASNMD\.pdb

MAASNMD/bin/Debug/Sample\.xlsx

MAASNMD/bin/Debug/Test\.txt

MAASNMD/obj/Debug/MAASNMD\.csproj\.GenerateResource\.cache

MAASNMD/obj/Debug/MAASNMD\.csprojAssemblyReference\.cache

MAASNMD/obj/Debug/MAASNMD\.exe

MAASNMD/obj/Debug/MAASNMD\.pdb

*.ide-wal
